$primary-dark-blue: hsl(242, 90%, 12%);
$primary-soft-blue: hsl(244, 84%, 85%);


$color-accent: hsl(163, 95%, 43%);

$color-neutral: hsl(0, 0%, 50%);


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;

    @media only screen and (max-width: 769px) {
        display: block;
        overflow: unset;
        height: auto;
        position: relative;
    }
}

.wrapper {
    &-illustration {
        flex-basis: 47%;
        max-width: 47%;
        background: url("../images/bg-intro.svg");
        background-size: 200%;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: 769px) {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-origin: border-box;
            height: 120vh;
        }

        @media only screen and (max-width: 700px) {
            height: 110vh;
        }

        @media only screen and (max-width: 650px) {
            height: 100vh;
        }

        @media only screen and (max-width: 600px) {
            height: 92vh;
        }

        @media only screen and (max-width: 550px) {
            height: 85vh;
        }

        @media only screen and (max-width: 500px) {
            height: 78vh;
        }

        @media only screen and (max-width: 450px) {
            height: 72vh;
        }

        @media only screen and (max-width: 400px) {
            height: 67vh;
        }

        @media only screen and (max-width: 350px) {
            height: 72vh;
        }

        @media only screen and (max-width: 320px) {
            height: 85vh;
        }

        @media only screen and (max-width: 250px) {
            height: 70vh;
        }

        &--image {
            display: block;
            transform: scale(0.8);

            @media only screen and (max-width: 1300px) {
                transform: scale(0.75);
            }

            @media only screen and (max-width: 1000px) {
                transform: scale(0.70);
            }

            @media only screen and (max-width: 900px) {
                transform: scale(0.65);
            }

            @media only screen and (max-width: 769px) {
                transform: scale(1);
            }

            @media only screen and (max-width: 700px) {
                transform: scale(0.9);
            }

            @media only screen and (max-width: 650px) {
                transform: scale(0.85);
            }

            @media only screen and (max-width: 600px) {
                transform: scale(0.8);
            }

            @media only screen and (max-width: 500px) {
                transform: scale(0.7);
            }

            @media only screen and (max-width: 450px) {
                transform: scale(0.6);
            }

            @media only screen and (max-width: 400px) {
                transform: scale(0.5);
            }

            @media only screen and (max-width: 350px) {
                transform: scale(0.45);
            }

            @media only screen and (max-width: 300px) {
                transform: scale(0.4);
            }

            @media only screen and (max-width: 250px) {
                transform: scale(0.35);
            }
        }
    }

    &-body {
        flex-basis: 53%;
        max-width: 53%;

        @media only screen and (max-width: 769px) {
            max-width: 100%;
            display: block;
        }

        .main {
            width: 100%;
            height: 100vh;
            padding: 7rem 7rem 7rem 4rem;

            @media only screen and (max-width: 1300px) {
                padding: 4rem 4rem 4rem 3rem;
            }

            @media only screen and (max-width: 1000px) {
                padding-top: 6rem;
            }

            @media only screen and (max-width: 769px) {
                padding-top: 0;
                height: auto;
            }
        }
    }
}


.header {

    &__nav {

        display: flex;
        align-items: center;

        @media only screen and (max-width: 769px) {
            width: 90%;
            position: absolute;
            top: 2%;
            left: 0;
        }

        &--logo {

            transform: scale(0.85);

            @media only screen and (max-width: 1300px) {
                transform: scale(0.8);
            }

            @media only screen and (max-width: 1000px) {
                transform: scale(0.75);
            }

            @media only screen and (max-width: 500px) {
                transform: scale(0.7);
            }

            @media only screen and (max-width: 350px) {
                transform: scale(0.65);
            }

            @media only screen and (max-width: 300px) {
                transform: scale(0.6);
            }

            @media only screen and (max-width: 250px) {
                transform: scale(0.55);
            }

            &-box {
                flex-basis: 25%;
                max-width: 25%;

                @media only screen and (max-width: 769px) {
                    padding-left: 2rem;
                }

                @media only screen and (max-width: 250px) {
                    padding-left: 0;
                }
            }

            .fylo-letters {
                @media only screen and (max-width: 769px) {
                    fill: #fff !important;
                }
            }
        }

        &--icons {
            flex-basis: 75%;
            max-width: 75%;
            align-items: center;
            text-align: right;

            @media only screen and (max-width: 769px) {
                justify-content: flex-end;
            }

            .icon {
                color: $primary-dark-blue;
                font-size: 2.2rem;
                display: inline-block;
                margin-left: 3.2rem;

                @media only screen and (max-width: 769px) {
                    color: #fff;
                    margin-left: 2.5rem;
                    margin-top: -0.3rem;
                    font-size: 1.6rem;
                }

                @media only screen and (max-width: 250px) {
                    font-size: 1.3rem;
                    margin-left: 1.2rem;
                }
            }
        }
    }
}



.description,
.footer {
    padding-left: 2rem;
}


.description {
    margin-top: 15%;

    @media only screen and (max-width: 1150px) {
        margin-top: 20%;
    }

    @media only screen and (max-width: 900px) {
        margin-top: 23%;
    }

    @media only screen and (max-width: 769px) {
        margin-top: 0;
    }

    &__title {
        color: $primary-dark-blue;
        font-size: 4rem;
        line-height: 1.3;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding-bottom: 2rem;

        @media only screen and (max-width: 1150px) {
            font-size: 3.5rem;
            padding-bottom: 3rem;
        }

        @media only screen and (max-width: 900px) {
            font-size: 3rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 2.8rem;
            padding-bottom: 2rem;
        }

        @media only screen and (max-width: 450px) {
            font-size: 2.5rem;
            padding-bottom: 1.5rem;
        }

    }

    &__text {
        padding-top: 1rem;
        width: 80%;
        color: $color-neutral;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 400;

        @media only screen and (max-width: 1150px) {
            font-size: 1.4rem;
            padding-top: 1.5rem;
        }

        @media only screen and (max-width: 900px) {
            font-size: 1.3rem;
            padding-top: 2.5rem;
        }

        @media only screen and (max-width: 450px) {
            padding-top: 2.2rem;
        }
    }
}

.cta {
    margin-top: 7.5%;

    @media only screen and (max-width: 1150px) {
        margin-top: 9.5%;
    }

    @media only screen and (max-width: 900px) {
        margin-top: 11.5%;
    }

    &__title {
        color: $primary-dark-blue;
        font-size: 2.5rem;
        line-height: 1.3;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding-bottom: 2.5rem;

        @media only screen and (max-width: 1150px) {
            font-size: 2.4rem;
        }

        @media only screen and (max-width: 900px) {
            font-size: 2.2rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 2rem;
        }

        @media only screen and (max-width: 450px) {
            font-size: 1.8rem;
        }
    }

    &__form {
        width: 100%;

        &>* {
            height: 3.5em;
            border: none;
            border-radius: 5px;
            outline: none;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.7rem;
            line-height: 1.5;

            @media only screen and (max-width: 769px) {
                height: 3em;
            }

            @media only screen and (max-width: 450px) {
                height: 2.5em;
            }
        }

        &--input {
            display: inline-block;
            width: 65%;
            margin-right: 2%;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
            cursor: text;

            @media only screen and (max-width: 450px) {
                display: block;
                width: 95%;
                margin-right: 0;
                margin-bottom: 10%;
                box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
            }
        }

        &--submit {
            display: inline-block;
            width: 31%;
            background: $color-accent;
            font-weight: 400;
            color: #fff;
            cursor: pointer;

            @media only screen and (max-width: 450px) {
                display: block;
                width: 45%;
            }
        }
    }
}

.footer {
    margin-top: 14%;
    text-align: right;
    margin-right: 2%;

    @media only screen and (max-width: 900px) {
        margin-top: 15%;
    }

    a {
        font-size: 1.5rem;

        @media only screen and (max-width: 900px) {
            font-size: 1.4rem;
        }

        @media only screen and (max-width: 500px) {
            font-size: 1.35rem;
        }
    }
}